.Header {
  padding: 25px;
  display: flex;
}

.Header p {
  flex-shrink: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
}

nav a {
  color: #EB3C35;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: "Futura";
  margin: 0 20px 0 30px;
  text-decoration: none;
  
  display: inline-block;
}

nav a:hover {
  color: black;
}


.PageWrapper {
  margin: 0 auto;
  padding: 20px;
  max-width: 1080px;
}

.PageWrapper--Sign {
  display: flex;
  flex-direction: row;
}

.PageWrapper h1 {
  font-family: "Futura";
  font-size: 38px;
}

.FormElement {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.FormElement input {
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
}

.FormElement label {
  font-family: "Futura";
  font-weight: bold;
  margin-bottom: 8px;
}

.Button {
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
  background-color: #EB3C35; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
  font-family: "Futura";
  font-weight: bold;
} 

.PostButton{
  font-size: 16px;
  padding: 10px;
  background-color: #EB3C35;
  margin-right: 20px; 
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
  font-family: "Futura";
  font-weight: bold;
}

.PostButton a{
  color: white;
  text-align: center;
  display: inline-block;
}

.PageWrapper p {
  font-family: "Futura";
  font-weight: 600;
}

.PageWrapper a {
  font-family: "Futura";
  font-weight: 600;
  color: black;
}

.PageWrapper a:hover {
  color: #EB3C35;
}

.PageWrapper--Text {
  flex-basis: 60%;
}

.PageWrapper-Graphic {
  flex-basis: 40%;
  padding-top: 50px;
}

.PageWrapper-Graphic img{
  width: 500px;
  height: auto;
}

.LandingPageImage img{
  padding-top: 65px;
  width: 100%;
  height: auto;
}

.ImagePostWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ImagePost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 3px solid #EB3C35;
  margin-bottom: 40px;
  max-width: 350px;
  min-height: 350px;
  width: 100%;
}

.ImagePost img {
  height: auto;
  width: 100%;
}

.ImagePostText {
  padding: 25px;
}

.ImagePostText p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
}
